.barranav {
	top: 0px;
	left: 0px;
	height: 30px;
	border: 1px solid black;
	padding-top: 10px;
	background-color: #ffe8d6;
}

.barra {
	position:absolute;
	top: 10px;
	left: 10px;
	padding: 0px;
}

nav {
	position: absolute;
	top: 0px;
	left: 100%;
	width: 350px;
	padding-top: 10px;	
}

.portada {
	display: flex;
	left: 0px;
	height: 50px;
	padding: 230px;
	padding-left: 200px;
	margin-left: 0px;
	margin-top: 0px;
	background-color: #EDEDE8;
	padding-top: 70px;
}

.titulo {
	margin: 0px;
	width: 700px;
	font-size: 25px;
 	
}

h1 {
	margin-top: 5px;
}
h2{
	font-size: 30px;
	padding-left: 70px;
	font-weight: normal;
}

h3 {
	margin-top: 0px;
	font-weight: normal;
	font-size: 30px;
}
h4 {
 	margin: 0px;
 	width: 300px;
 }
	


.Recipebutton {
	border-color: orange;
	border-radius: 10px;
	background-color: transparent;
	margin-left: 0px;
}

.Categorias {
	width: 500px;
	padding-left: 70px;
	padding-top: 10px;
}

.LatestRecipes {
	font-size: 40px;
	padding-left: 70px;

}

.RecipeImg {
	margin-left: 70px;
	margin-right: 70px;
	display: flex;
	gap: 350px;

}

.Never {
	margin-left: 70px;
	margin-right: 70px;
	padding: 29px;
	display: flex;
	gap: 200px;
	justify-content: space-evenly;
	align-items: baseline;
	background-color: #cb997e;
	border-radius: 30px;
}

.EnviarMail {
	border-color: #ffe8d6;
	border-radius: 10px;
	background-color: #ffe8d6;
	margin-left: 0px;
}

.PupularRecipes {
	margin-left: 70px;
	margin-right: 70px;
	display: flex;
	gap: 350px;
}

.AboutAuthor {
	display: flex;
	justify-content: center;
	padding: 10px;
	background-color: #ddbea9;
	margin: 0px;
	gap: 150px;
}

.PeuPagina {
	height: 150px;
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
	gap: 100px;
	background-color: #ffe8d6;
}