body {
	margin: 0px;
}
.barranav {
	top: 0px;
	left: 0px;
	height: 40px;
	border: 1px solid black;
	padding-top: 10px;
	background-color: #ffe8d6;
}

.barra {
	position:absolute;
	top: 10px;
	left: 10px;
	padding: 0px;

}

nav {
	position: absolute;
	top: 0px;
	left: 100%;
	width: 350px;
	padding-top: 10px;	
}

.portada {
	display: flex;
	left: 0px;
	height: 50px;
	padding: 230px;
	padding-left: 200px;
	margin-left: 0px;
	margin-top: 0px;
	background-color: #EDEDE8;
	padding-top: 70px;
}

.titulo {
	margin: 0px;
	width: 700px;
	font-size: 25px;
 	
}

h1 {
	margin-top: 5px;
}
h2{
	font-size: 30px;
	padding-left: 70px;
	font-weight: normal;
}

h3 {
	margin-top: 0px;
	font-weight: normal;
	font-size: 30px;
}
h4 {
 	margin: 0px;
 	width: 300px;
 }
	


.Recipebutton {
	border-color: orange;
	border-radius: 10px;
	background-color: transparent;
	margin-left: 0px;
}

.Categorias {
	display: flex;
	width: 500px;
	padding-left: 70px;
	padding-top: 10px;
}

.LatestRecipes {
	font-size: 40px;
	padding-left: 70px;

}

.RecipeImg {
	margin-left: 70px;
	margin-right: 70px;
	display: flex;
	gap: 350px;

}
.LatestImg {
	width: 500px;
}


.Never {
	margin-left: 70px;
	margin-right: 70px;
	padding: 29px;
	display: flex;
	gap: 200px;
	justify-content: space-evenly;
	align-items: baseline;
	background-color: #cb997e;
	border-radius: 30px;
}

.EnviarMail {
	border-color: #ffe8d6;
	border-radius: 10px;
	background-color: #ffe8d6;
	margin-left: 0px;
}

.PupularRecipes {
	margin-left: 30px;
	margin-right: 70px;
	display: flex;
	gap: 350px;
}

.AboutAuthor {
	display: flex;
	justify-content: center;
	padding: 10px;
	background-color: #ddbea9;
	margin: 0px;
	gap: 150px;
}

.PeuPagina {
	height: 150px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 200px;
	background-color: #ffe8d6;
}
 .FotoAuthor {
 	width: 40%;
 }
 .PeuFoto {
 	width: 30%;
 }

.Img2 {
	height: 400px;
}

@media (min-width: 0px) and (max-width: 414px) {
	.barranav {
		top: 0px;
		left: 0px;
		height: 40px;
		width: 100%;
		border: 1px solid black;
		padding-top: 10px;
		background-color: #ffe8d6;
	}
	.portada {
		display: ;
		left: 0px;
		height: 50px;
		padding: 230px;
		padding-left: 10px;
		margin-left: 0px;
		margin-top: 0px;
		background: none;
		background-image: url('wireframeEstorage/wireframeimagen.png');
		padding-top: 70px;
	}

	.Categorias {
		display: flex;
		flex-grow: 5;
		flex-wrap: wrap;
		align-items: center;
		width: 200px;
		padding-left: 20px;
		padding-top: 10px;
	}

	.LatestRecipes {
		font-size: 30px;
		padding-left: 10px;

	}

	.RecipeImg {
		margin-left: 10px;
		margin-right: 30px;
		display: flex;
		justify-content: flex-start;
		justify-items: center;
		flex-wrap: wrap;
		gap: 20px;
		align-self: auto;
	}
	.LatestImg {
		width: 230px;
	}

	.Movil {
		width: 230px;
	}

	.Never {
		margin-left: 10px;
		margin-right: 70px;
		padding: 15px;
		display: flex;
		gap: 1px;
		justify-content: space-evenly;
		align-items: baseline;
		background-color: #cb997e;
		border-radius: 30px;
		flex-wrap: wrap;
		width: 210px;
		height: 230px;

	}

	.EnviarMail {
		border-color: #ffe8d6;
		border-radius: 10px;
		background-color: #ffe8d6;
		margin-left: 0px;
	}

	.PupularRecipes {
		margin-left: 10px;
		margin-right: 70px;
		display: flex;
		gap: 20px;
		flex-wrap: wrap;

	}

	.AboutAuthor {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		padding: 10px;
		background-color: #ddbea9;
		margin: 0px;
		gap: 10px;
		width: 230px;
		padding-right: 20px;
	}
	.FotoAuthor {
		width: 230px;
	}

	.PeuPagina {
		height: 200px;
		width: 260px;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 5px;
		background-color: #ffe8d6;
	}

	.PeuFoto{
		width: 125px;
	}
	.Img2 {
		height: 400px;
	}

	h1 {
		font-size: 30px;
		margin-top: 5px;
	}
	h2{
		font-size: 25px;
		padding-left: 10px;
		width: 230px;

	}

	h3 {
		margin-top: 0px;
		font-weight: 215px;
		font-size: 25px;
	}
	h4 {
 		margin: 0px;
 		width: 300px;
	 }

}